@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<div class="position">
    <h1><i><br>Hi World <br></i>  </h1>
    <div>This  site create <i class="name"><b>Slava Petlitsky</b></i></div>
    <figure>
        <img align="bottom" class="hiden" src="doom.jpg" alt="im faded">
        <figcaption class="figurecaption"><i>Him Photo</i></figcaption>
    </figure>


</div>