@model IEnumerable<dynamic>
@{
    ViewData["Title"] = "Word";
}
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<form asp-action="Word">
    <div class="form-group">
        <label class="control-label">Name </label>
        <p>
            @{
                List<string> fsf = new List<string>();
                @foreach (dynamic ff in ViewBag.Patients)
                        {
                    fsf.Add(@ff);
                }
                int i = 0;
            }
            <select  name="TreatmentCodee" class="form-control">
                
                    @foreach(dynamic f in ViewBag.CodePatient){

                    <option   name="TreatmentCodee" value="@f">
                      @fsf[i]; 
                    </option>
                    i++; }
                }

            </select>
        </p>
    </div>

    <div class="form-group">
        <input type="submit" value="Word" class="btn btn-primary" />
    </div>
</form>